*{
    padding: 0;
    margin:0;
    
}

nav{
    background-color: crimson;
    font-size: 30px;
    padding:10px;
    margin-bottom: 30px;
}
header{
    margin-bottom: 30px;
}
#search{
    width:400px;
}
footer{
    height:100px;
    width:100%;
    padding-top: 15px;
    background-color: rgb(253, 98, 98);
    position: fixed;
   bottom: 0px;
   
}
#up{
    display: flex;
    justify-content: center;
}
#down{
    display: flex;
    justify-content: center;
}
#behind{
    width:300px;
    height:5px;
    background-color: rgb(183, 107, 253);
    position: absolute;
    
}
#infront{
    width:200px;
    height:5px;
    background-color: blueviolet;
    position: absolute;
}
#player{
    position: relative;
    width:300px;
    height:10px;
    margin-top: 10px;
}
#currentTime{
    padding: 5px;
    font-size: 15px;
}
#duration{
    padding:5px;
    font-size: 15px;
}
#wrapper{
    width: 500px;
    height:330px;
    margin: auto;
    text-align: center;
    overflow-y: scroll;
    border-radius: 30px 0px 0px 30px;
    border: 1px solid black;
    scroll-behavior: smooth;
}
.container{
   border: 1px solid black;
   overflow: hidden;
}
.song{
    font-size: 30px;
    width:100%;
}
.singer{
    color: #888;
    width:100%;
}

.btn{
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    border:1px solid rgb(8, 174, 252);
    margin-top: 10px;
}
.play ,.pause{
    width:45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    border:1px solid rgb(8, 174, 252);
}

.btn:hover{
    
    border:1px solid rgb(8, 174, 252);
    background-color: rgb(18, 172, 243);
    box-shadow: 5px 5px 10px rgb(48, 48, 48);
}



/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }